*
{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:white; 
    flex-direction: column;
   
    
   
}
#d1{
    font-size: smaller;
    font-weight: 10PX;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#736EAE ;
    padding: 40px;
   
     

}

.calculator{
    
    padding: 60px;
    border-radius: 25px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
border: 5px solid #717377;
background:linear-gradient(45deg,#0a0a0a,#3a4452);
}
button{
    background-color: #f0f0f0;
    border: none ;
    width: 80px;
    height: 80px;
    color:white;
    margin: 10px;
    border-radius: 80%;
    font-size: 30px;
    background: transparent;
    cursor: pointer;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);}
    
input{
    width: 400px;
    height: 50px;
    background-color:#e5e7eb;
    border-radius: 500px;
    text-align: right;
    padding-right: 20px;
    font-size: xx-large;
font-family:Verdana, Geneva, Tahoma, sans-serif}

 
 
 .equalBtn{
    color:#19a337 ;
    font-size: 35px;
    
 }
 
.buttons{
    color: green;
}
.buton{
    color: #fe2e2e;
}
 .operators{
    color:rgb(228, 156, 21) ;
 
    font-size:35px;}
 
 .allclr 
 { 
    color:#fe2e2e ;
}
.delete{
    color: rgb(226, 226, 35);
}

.bracket
{
    color:#2e6be6 ;
}
button:hover{
    background-color:#E5E5E5 ;
}
.operators:hover{
    background-color: #d0e0e3;
}

    


    
    



